/* COLORS 

alabaster:   #f0ede4
rich black:   #001219
    -shades: #00070a
dim gray:   #727072
    -shades: #444344
pumpkin:   #fe7f2d


 */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:hover {
  background-color: none;
  background: none;
}

.html-page {
  display: flex;
  max-height: 100vh;
}
.page-content {
  max-height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
textarea:focus,
input:focus {
  outline: none;
}
